.Mes_block {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50vh;
    border-radius: 10%;
    background-color: aliceblue;
    
}

.Child_block {
    font-size: x-large;

}

.picture_thumb img {
    
    border-radius: 10%;
    animation: spin 2.5s linear;
    animation-iteration-count: infinite;
}

.center {
    margin: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}